<!DOCTYPE html>
<html>

<head>
    <title>顯示 MySQL 資料</title>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>人員清單</h1>
    <table>
        <tr>
            <th>姓名</th>
            <th>年齡</th>
        </tr>
        {% for name, age in data %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ age }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>