<!DOCTYPE html>
<html>

<head>
    <title>顯示 MySQL 資料</title>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>人員清單</h1>
    <table>
        <tr>
            {% if data %}
        <tr>
            {% for key in data[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No Data Found</td>
        </tr>
        {% endif %}
    </table>
</body>

</html>